@font-face {
    font-family:    'roboto';
    src:            url(Roboto-thin.ttf);
}
*, ::after, ::before
{
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}
html
{
    user-select:        none;
    scroll-behavior:    smooth;
    overflow-x:         hidden;
    font-size:          1rem;
    font-family:        'roboto', arial, sans-serif;
}
body
{
    background-color:   #292929;
}
header {
    width:          100%;
    height:         10vh;
    color:          aliceblue;
    border-bottom:  1px solid rgba(240, 248, 255, 0.603);
    transition:     height 0.5s;
}
header.active {
    height:         200px;
    transition:     height 0.5s;
}
nav:not(.active) {
    display:        none;
}
ul {
    list-style:     none;
}
li{
    line-height: 10vh;
    display:        inline;
    margin:         0 15px;
}
nav a {
    position: relative;
    color:              rgba(240, 248, 255, 0.75);
    text-decoration:    none;
    text-transform:     uppercase;
}
a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;    
    left: 50%;
    transform: translateX(-50%) scale(0);
    background-color: #fff;
    transition: transform 0.25s;
}
a:hover::after{
    transform: translateX(-50%) scale(1);
    color: aliceblue;
}
a:hover{
    color: aliceblue;
}
/* DISPLAY BLOCK MENU for MOBILE ET TAB */
nav li.active{
    display:        block;
    height:         50px;
    line-height:    50px;
    opacity:        1;
    position:       relative;
    left:           0px;
    animation:      afficheMenu 0.65s ease-in-out forwards;
}
@keyframes afficheMenu {
    from {
        left: -250px;
        opacity: 0;
    }
}
/* HAMBURGER MENU for MOBILE ET TAB */
.hamburger.active {
    height:             10vh;
    width:              100px;
    position:           absolute;
    top:                0;
    right:              0;
}
.hamburger.active .box{
    position:   relative;
    width:      40px;
    height:     30px;
    top:        50%;
    left:       50%;
    transform:  translate(-50%,-50%);
}
.hamburger.active .line{
    position:           absolute;
    width:              40px;
    height:             3px;
    background-color:   aliceblue;
}
.line:nth-child(1) {
    top:        0px;
    transform:  rotate(0deg);
    transition: transform 0.25s ease-in-out,
                top 0.25s 0.25s ease-in-out;
}
.line:nth-child(2) {
    top:        50%;
    opacity:    1;
    transition: opacity 0.25s 0.25s ease-in-out;
}
.line:nth-child(3) {
    top:        100%;
    transform:  rotate(0deg);
    transition: transform 0.25s ease-in-out,
                top 0.25s 0.25s ease-in-out;
}
.box.active .line {
    background-color: rgba(240, 248, 255, 0.685);
}
.box.active .line:nth-child(1) {
    top:        15px;
    transform:  rotate(-45deg);
    transition: top 0.25s 0.25s ease-in-out,
                transform 0.25s 0.5s ease-in-out;
}
.box.active .line:nth-child(2) {
    opacity:    0;
    transition: opacity 0.25s 0.25s ease-in-out;
}
.box.active .line:nth-child(3) {
    top:        15px;
    transform:  rotate(45deg);
    transition: top 0.25s 0.25s ease-in-out,
                transform 0.25s 0.5s ease-in-out;
}

/* CONTAINER AND IMG */
.container {
    display:                grid;
    width:                  100%;
    grid-template-columns:  1fr;
    grid-template-rows:     repeat(4, minmax(50vh,auto));
    transition:             top 0.4s 0.25s ease-in-out;
}
section {
    width:              100%;
    color:              aliceblue;
    padding:            15px;
    text-transform:     uppercase;
}
section img, section p {
    width: 100%;
    height: auto;  
    object-fit: contain;  
    margin: 10px 0;
}
h2 {
    font-size:          1.10rem;
    color:              aliceblue;
    padding:            5px 0;
}
a.nextPage {
    color: goldenrod;
    font-size: 0.8rem;
    font-weight: bold;
}
/* ARROW FOR BACK TO TOP MENU */
#backMenu {
    display: none;
} 
#backMenu.active {
    display: block;
    position: sticky;
    z-index: 100;
    bottom: 25px;
    text-align: end;
} 
#backMenu.active img{
    margin: 1%;
}
/* IMAGE FILTER  */
/* section img:not(:hover) { */
    /* filter: blur(2px) grayscale(1);   */
/* } */
section#page3 img.slide-in-elliptic-top-fwd {
    
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}/* ----------------------------------------------
 * Generated by Animista on 2021-7-11 13:35:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  
    
/* MEDIA QUERIES SCREEN > 970 */
@media screen and (min-width:970px) {
    html {
        overflow-y:         hidden;
    }
    header {
        position:   fixed;
        top: 0;
        left: 0;
    }
    section img {
        max-height: 80vh;    
    }
    /* Ici en fonction du nombre de pages dont vs aurez besoin */
    /* il faudra modifier (dans mon ex nbPages = 4) */
    /* width: nbPages x 100 = 400vw; */
    /* grid-template-columns:  repeat(nbPages, 100vw); */
    /* et dans JS section CALCUL DE POSX modifier nbPages */
    .container {
        position:               relative;
        top:                    10vh;
        width:                  400vw;
        grid-template-rows:     1fr;
        grid-template-columns:  repeat(4, 100vw);
    }
    /* Les liens "next page" sont supprimés */
    /* puisque celles-ci sont accessibles via le menu et le scroll */
    section a {
        display:    none;
    }
}